.tourComponents {
  z-index: 21;
  --rv-foreground-color-2: var(--tourComponents-background-color);
}

@keyframes train-move {
  0% {
    transform: translate(-50%, 0);
  }

  100% {
    transform: translate(70%, 0);
  }
}

#tourComponents-fade-1 {
  opacity: 1;
  transition: opacity 600ms ease;
  transition-delay: 1100ms;

  #tourComponents-fade-1-animation {
    animation: train-move 10s infinite linear;
    animation-delay: -10s;
  }
}

#tourComponents-move {
  opacity: 1;
  transform-origin: center;
  transition:
    transform 800ms ease-in,
    opacity 200ms ease;
  transition-delay: 300ms, 100ms;
}

.slide.future {
  #tourComponents-fade-1 {
    opacity: 0;
    transition-delay: 200ms;
  }

  #tourComponents-move {
    opacity: 0;
    transform: scale(0.5);
    transition-delay: 700ms, 1200ms;
  }
}

.slide.past {
  #tourComponents-fade-1 {
    opacity: 0;
    transition-delay: 100ms;
  }

  #tourComponents-move {
    opacity: 0;
    transform: translate(0, 30%) scale(2);
    transition-delay: 200ms, 500ms;
  }
}
