.rv-folder-structure {
  color: var(--rv-foreground-color-2);
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  .highlighted {
    background-color: var(--rv-foreground-color-2);
    color: var(--rv-foreground-color-1);

    .chevron {
      fill: var(--rv-foreground-color-1) !important;
    }
  }

  &::-webkit-scrollbar {
    width: 1cqw;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 0.2cqw solid var(--rv-foreground-color-1);
    background: var(--rv-foreground-color-2);
  }
}
