.rv-folder-structure {
  color: var(--rv-foreground-color-2);
  height: 100%;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0.6cqw;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--rv-foreground-color-2);
  }
}
