.rv-expanding-button {
  --rv-expanding-button-foreground: var(--rv-foreground-color-2);
  --rv-expanding-button-background: var(--rv-foreground-color-1);
  font-family: Pally, sans-serif;
  font-size: 1cqw;
  font-weight: 600;
  padding: 0.7cqw;
  margin: 0.4cqw;
  border: none;
  box-sizing: border-box;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 100px;
  transition:
    transform 300ms ease-out,
    outline 300ms ease-out,
    outline-offset 300ms ease-out;
  outline: 0.2cqw solid var(--rv-expanding-button-background);
  background: var(--rv-expanding-button-background);
  outline-offset: 0.2cqw;
  text-transform: uppercase;
  color: var(--rv-expanding-button-foreground);

  .icon-wrapper {
    transition:
      margin-left 400ms ease,
      margin-right 400ms ease;
    svg {
      height: 1.5cqw;
      width: 1.5cqw;
      fill: var(--rv-expanding-button-foreground) !important;
    }
  }

  &.small {
    font-size: 0.8cqw;
    padding: 0.4cqw;

    svg {
      height: 1.2cqw;
      width: 1.2cqw;
    }

    .label {
      line-height: 1cqw;
    }

    &:not(.disabled) {
      &:hover {
        .icon-wrapper.left {
          margin-left: 0.2cqw;
        }

        .icon-wrapper.right {
          margin-right: 0.2cqw;
        }

        .label {
          width: 5cqw;
        }
      }

      &:focus {
        .icon-wrapper.left {
          margin-left: 0.2cqw;
        }

        .icon-wrapper.right {
          margin-right: 0.2cqw;
        }

        .label {
          width: 5cqw;
        }
      }

      &:active {
        .icon-wrapper.left {
          margin-left: 0.2cqw;
        }

        .icon-wrapper.right {
          margin-right: 0.2cqw;
        }

        .label {
          width: 5cqw;
        }
      }
    }
  }

  .label {
    line-height: 1.2cqw;
    width: 0;
    opacity: 0;
    visibility: hidden;
    transition:
      width 400ms ease,
      opacity 400ms ease,
      visibility 400ms ease;
    white-space: nowrap;
    overflow: hidden;
  }

  &.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.3;
  }

  &:not(.disabled) {
    &:hover {
      transform: scale(1.07);
      outline-offset: -0.1cqw;

      .icon-wrapper.left {
        margin-left: 0.4cqw;
      }

      .icon-wrapper.right {
        margin-right: 0.4cqw;
      }

      .label {
        width: 10cqw;
        opacity: 1;
        visibility: visible;
      }
    }

    &:focus {
      transform: scale(1.07);
      outline-color: var(--rv-expanding-button-foreground);
      outline-offset: -0.1cqw;

      .label {
        width: 10cqw;
        opacity: 1;
        visibility: visible;
      }

      .icon-wrapper.left {
        margin-left: 0.4cqw;
      }

      .icon-wrapper.right {
        margin-left: 0.4cqw;
      }
    }

    &:active {
      transform: scale(1);
      outline-offset: -0.1cqw;

      .label {
        width: 10cqw;
        opacity: 1;
        visibility: visible;
      }

      .icon-wrapper.left {
        margin-left: 0.4cqw;
      }

      .icon-wrapper.right {
        margin-left: 0.4cqw;
      }
    }
  }
}

.icon-wrapper {
  display: flex;
}
