.level-1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 10%);
  background: red;
  width: 40vw;
  height: 200px;
}

.level-2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -30%);
  background: green;
  width: 60vw;
  height: 300px;
}

.level-3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: blue;
  width: 80vw;
  height: 400px;
}
