.landing {
  z-index: 25;
}

.landing-layer-1 {
  opacity: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-240%, -30%);
  background: red;
  width: 15cqw;
  height: 30cqw;
  transition: opacity 600ms ease;
  transition-delay: 1200ms;
}

.landing-layer-2 {
  opacity: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-10%, -30%);
  background: green;
  width: 45cqw;
  height: 20cqw;
  transition: opacity 600ms ease;
  transition-delay: 1100ms;
}

.landing-layer-3 {
  opacity: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 15%);
  background: blue;
  width: 100cqw;
  height: 25cqw;
  transition:
    transform 800ms ease-in,
    opacity 200ms ease;
  transition-delay: 300ms, 100ms;
}

.slide.past {
  .landing-layer-1 {
    opacity: 0;
    transition-delay: 0ms;
  }

  .landing-layer-2 {
    opacity: 0;
    transition-delay: 100ms;
  }

  .landing-layer-3 {
    opacity: 0;
    transform: translate(-50%, 230%) scale(3);
    transition-delay: 200ms, 700ms;
  }
}
