.level-1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 10%);
  background: red;
  width: 40cqw;
  height: 30cqw;
}

.level-2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -30%);
  background: green;
  width: 60cqw;
  height: 30cqw;
}

.level-3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: blue;
  width: 80cqw;
  height: 30cqw;
}
