.result {
  z-index: 16;
  --rv-foreground-color-2: var(--result-background-color);
}

#result-fade-1,
#result-fade-2,
#result-fade-3,
#result-fade-4 {
  opacity: 1;
  transition: opacity 600ms ease;
}

#result-fade-1 {
  transition-delay: 1900ms;
}

#result-fade-2 {
  transition-delay: 2050ms;
}

#result-fade-3 {
  transition-delay: 2200ms;
}

#result-fade-4 {
  transition-delay: 2250ms;
}

#result-move {
  opacity: 1;
  transform-origin: center;
  transition:
    transform 1000ms ease-out,
    opacity 600ms ease;
  transition-delay: 600ms, 700ms;
}

.slide.future {
  #result-fade-1,
  #result-fade-2,
  #result-fade-3,
  #result-fade-4 {
    opacity: 0;
    transition-delay: 0ms;
  }

  #result-move {
    opacity: 0;
    transform: scale(0.5);
    transition-delay: 700ms, 1200ms;
  }
}
