.slide {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0ms;
  transition-delay: var(--main-transition-duration);

  &.present {
    opacity: 1;
    visibility: visible;
    transition-delay: 0ms;

    .foreground {
      opacity: 1;
      transition-delay: var(--main-transition-duration);
    }
  }

  .foreground {
    opacity: 0;
    z-index: 5;
    font-size: 1cqw;
    transition: 200ms ease;
  }
}
