.slide {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: 1500ms ease-in-out;
  left: 50%;
  top: 50%;
  width: 100vw;
  max-height: 100vh;
  height: 56.26vw;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;

  &.present {
    opacity: 1;
    visibility: visible;
  }

  .foreground {
    z-index: 50;
  }
}
