.slide {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    opacity 0ms,
    visibility 0ms;
  transition-delay: var(--main-transition-duration);

  &.present {
    opacity: 1;
    visibility: visible;
    transition-delay: 0ms;

    .foreground {
      opacity: 1;
      transition-delay: var(--main-transition-duration);
    }
  }

  .foreground {
    box-sizing: border-box;
    padding: 6cqw;
    opacity: 0;
    z-index: 5;
    font-size: 1cqw;
    transition: opacity 200ms ease;
    display: flex;
    gap: 2cqw;
    width: 100%;
    height: 100%;
    color: white;
  }

  .panel {
    box-sizing: border-box;
    padding: 1cqw;
    background: rgba(61, 51, 96, 0.5);
    border-radius: 0.8cqw;
    outline: 0.2cqw solid rgba(255, 255, 255, 0.5);
    outline-offset: 0.4cqw;
  }

  .explanation {
    flex: 1;
    display: flex;
    flex-flow: column;
    gap: 2cqw;
  }

  .text-body {
    flex: 1;
  }
}
