.slide {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    opacity 0ms,
    visibility 0ms;
  transition-delay: var(--main-transition-duration);

  &.present {
    opacity: 1;
    visibility: visible;
    transition-delay: 0ms;

    .foreground {
      opacity: 1;
      visibility: visible;
      transition-delay: var(--main-transition-duration);
    }
  }

  &.past,
  &.future {
    pointer-events: none;
  }

  .foreground {
    box-sizing: border-box;
    padding: 10cqw 15cqw;
    opacity: 0;
    visibility: hidden;
    z-index: 5;
    font-size: 1.2cqw;
    transition:
      opacity 200ms ease,
      visibility 200ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .background {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(2);
    width: 100cqw;
    height: 100cqh;
  }

  .slide-explanation {
    flex: 1;
    height: 100%;
    display: flex;
    flex-flow: column;
    color: var(--rv-foreground-color-1);
    background: var(--rv-foreground-color-2);
    overflow: hidden;
    border-radius: 1.5cqw 0 0 1.5cqw;

    &.small {
      border-radius: 1.5cqw;
      flex: 0 0 60cqw;
      height: auto;
    }
  }

  .slide-title {
    color: var(--rv-foreground-color-2);
    background: var(--rv-foreground-color-1);
    padding: 1cqw 1.5cqw;
    margin: 0;
  }

  .text-body {
    flex: 1;

    padding: 1.5cqw;

    a {
      display: inline;
      color: #e0ffff;
      text-decoration: none;
      border-bottom: 0.12cqw solid #e0ffff;
      margin-bottom: -0.12cqw;
      transition:
        margin-bottom 100ms ease,
        border-bottom 100ms ease,
        color 200ms ease;

      &:hover,
      &:focus {
        outline: none;
        color: #a5efef;
        border-bottom: 0.2cqw solid #a5efef;
        margin-bottom: -0.2cqw;
      }
    }
  }

  .text-divider {
    display: flex;
    height: 1cqw;
  }

  .action-buttons {
    display: flex;
    gap: 2cqw;
    align-items: center;
    justify-content: center;
    flex: 0 0 6cqw;
  }
}

.folder-structure-wrapper {
  height: 100%;
  overflow: hidden;
  flex: 0 0 30cqw;
  box-sizing: border-box;
  padding: 1cqw;
  background: var(--rv-foreground-color-1);
  border-radius: 0 1.5cqw 1.5cqw 0;
}
