.slide {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    opacity 0ms,
    visibility 0ms;
  transition-delay: var(--main-transition-duration);

  &.present {
    opacity: 1;
    visibility: visible;
    transition-delay: 0ms;

    .foreground {
      opacity: 1;
      transition-delay: var(--main-transition-duration);
    }
  }

  .foreground {
    box-sizing: border-box;
    padding: 10cqw 15cqw;
    opacity: 0;
    z-index: 5;
    font-size: 1.2cqw;
    transition: opacity 200ms ease;
    display: flex;
    width: 100%;
    height: 100%;
    color: white;
  }

  .background {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(2);
    width: 100cqw;
    height: 100cqh;
  }

  .slide-explanation {
    flex: 1;
    display: flex;
    flex-flow: column;
    color: var(--rv-foreground-color-1);
    background: var(--rv-foreground-color-2);
    overflow: hidden;
    border-radius: 1.5cqw 0 0 1.5cqw;
  }

  .slide-title {
    color: var(--rv-foreground-color-2);
    background: var(--rv-foreground-color-1);
    padding: 1cqw 1.5cqw;
    margin: 0;
  }

  .text-body {
    flex: 1;
    padding: 1.5cqw;
  }

  .action-buttons {
    display: flex;
    gap: 2cqw;
    align-items: center;
    justify-content: center;
    flex: 0 0 6cqw;
  }
}

.folder-structure-wrapper {
  overflow: hidden;
  flex: 0 0 30cqw;
  box-sizing: border-box;
  padding: 1cqw;
  background: var(--rv-foreground-color-1);
  border-radius: 0 1.5cqw 1.5cqw 0;
}
