.city-background {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100cqw;
  height: 100cqh;
  z-index: 3;
}

.city-sky {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100cqw;
  height: 100cqh;
  z-index: 2;
  background: #3bd1ff;
}

.city-ladder {
  transition:
    opacity 300ms ease,
    visibility 300ms;

  &.out-of-frame {
    transform: translate(0, -200%);
  }

  &.bottom-section {
    transform: translate(0, 20%);
  }

  &.hidden {
    visibility: hidden;
    opacity: 0;
  }
}
