.boilerplate {
  --rv-foreground-color-2: var(--boilerplate-background-color);
  z-index: 23;

  .folder-structure-wrapper {
    transition:
      flex 500ms ease,
      padding 500ms ease;
    visibility: visible;
    transition-delay: 300ms;

    &.hidden {
      flex: 0 0 0;
      visibility: hidden;
      padding: 1cqw 0;
    }
  }
}

.boilerplate-foreground {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 1.5cqw;
  transition: transform 500ms ease;
}

.boilerplate-slide-content {
  flex: 1;
  position: relative;
  height: 100%;
}

.boilerplate-step {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 300ms ease,
    visibility 300ms ease;

  &.active {
    visibility: visible;
    opacity: 1;
    transition-delay: 300ms;

    &.step-1 {
      transition-delay: 800ms;
    }
  }
}

#boilerplate-fade-1,
#boilerplate-fade-2,
#boilerplate-fade-3 {
  opacity: 1;
  transition: opacity 600ms ease;
  transition-delay: 1100ms;
}

#boilerplate-move {
  opacity: 1;
  transform-origin: center;
  transition:
    transform 800ms ease-in,
    opacity 200ms ease;
  transition-delay: 300ms, 100ms;
}

.slide.past {
  #boilerplate-fade-1,
  #boilerplate-fade-2,
  #boilerplate-fade-3 {
    opacity: 0;
    transition-delay: 100ms;
  }

  #boilerplate-move {
    opacity: 0;
    transform: scale(2);
    transition-delay: 200ms, 500ms;
  }
}

.slide.future {
  #boilerplate-fade-1,
  #boilerplate-fade-2,
  #boilerplate-fade-3 {
    opacity: 0;
    transition-delay: 200ms;
  }

  #boilerplate-move {
    opacity: 0;
    transform: translate(0, 80%) scale(0.5);
    transition-delay: 700ms, 1200ms;
  }
}
