.boilerplate {
  --rv-foreground-color-2: var(--boilerplate-background-color);
  z-index: 23;

  .folder-structure-wrapper {
    transition:
      flex 500ms ease,
      padding 500ms ease,
      visibility 500ms;
    transition-delay: 300ms;

    &.hidden {
      flex: 0 0 0;
      visibility: hidden;
      padding: 1cqw 0;
    }
  }
}

.boilerplate-slide-content {
  flex: 1;
  position: relative;
  height: 100%;
}

.boilerplate-step {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  opacity: 1;
  transition:
    opacity 300ms ease,
    visibility 300ms ease;
  transition-delay: 300ms;

  &.step-1:not(.hidden),
  &.step-0:not(.hidden) {
    transition-delay: 800ms;
  }

  &.hidden {
    visibility: hidden;
    opacity: 0;
    transition-delay: 0ms;
  }
}

#boilerplate-fade-1,
#boilerplate-fade-2,
#boilerplate-fade-3 {
  opacity: 1;
  transition: opacity 600ms ease;
}

#boilerplate-fade-1 {
  transition-delay: 1750ms;
}

#boilerplate-fade-2 {
  transition-delay: 1600ms;
}

#boilerplate-fade-3 {
  transition-delay: 2000ms;
}

#boilerplate-move {
  opacity: 1;
  transform-origin: center;
  transition:
    transform 1100ms ease-out,
    opacity 200ms ease;
  transition-delay: 500ms, 100ms;
}

.slide.past {
  #boilerplate-fade-1,
  #boilerplate-fade-2,
  #boilerplate-fade-3 {
    opacity: 0;
    transition-delay: 0ms;
  }

  #boilerplate-move {
    opacity: 0;
    transform: scale(2);
    transition-delay: 600ms, 1400ms;
  }
}

.slide.future {
  #boilerplate-fade-1,
  #boilerplate-fade-2,
  #boilerplate-fade-3 {
    opacity: 0;
  }

  #boilerplate-move {
    opacity: 0;
    transform: translate(0, 50%);
  }
}
