.boilerplate {
  z-index: 23;
}


#boilerplate-fade-1, #boilerplate-fade-2, #boilerplate-fade-3 {
  opacity: 1;
  transition: opacity 600ms ease;
  transition-delay: 1100ms;
}

#boilerplate-move {
  opacity: 1;
  transform-origin: center;
  transition:
    transform 800ms ease-in,
    opacity 200ms ease;
  transition-delay: 300ms, 100ms;
}

.slide.past {
  #boilerplate-fade-1, #boilerplate-fade-2, #boilerplate-fade-3 {
    opacity: 0;
    transition-delay: 100ms;
  }

  #boilerplate-move {
    opacity: 0;
    transform: scale(2);
    transition-delay: 200ms, 500ms;
  }
}

.slide.future {
  #boilerplate-fade-1, #boilerplate-fade-2, #boilerplate-fade-3 {
    opacity: 0;
    transition-delay: 200ms;
  }

  #boilerplate-move {
    opacity: 0;
    transform: translate(0, 80%) scale(0.5);
    transition-delay: 700ms, 1200ms;
  }
}
