.tourPages {
  z-index: 22;
  --rv-foreground-color-2: var(--tourPages-background-color);
}

#tourPages-fade-1 {
  opacity: 1;
  transition: opacity 600ms ease;
  transition-delay: 1900ms;
}

#tourPages-move {
  opacity: 1;
  transform-origin: center;
  transition:
    transform 1000ms ease-out,
    opacity 600ms ease;
  transition-delay: 600ms, 700ms;
}

.slide.past {
  #tourPages-fade-1 {
    opacity: 0;
    transition-delay: 0ms;
  }

  #tourPages-move {
    opacity: 0;
    transform: scale(2);
    transition:
    transform 1000ms ease-in,
    opacity 200ms ease;
    transition-delay: 600ms, 1400ms;
  }
}

.slide.future {
  #tourPages-fade-1 {
    opacity: 0;
    transition-delay: 0ms;
  }

  #tourPages-move {
    opacity: 0;
    transform: scale(0.5);
    transition-delay: 600ms, 1400ms;
  }
}
