.tourStyles {
  z-index: 20;
  --rv-foreground-color-2: var(--tourStyles-background-color);
}

#tourStyles-fade-1 {
  opacity: 1;
  transition: opacity 600ms ease;
  transition-delay: 1900ms;
}

#tourStyles-fade-2 {
  opacity: 1;
  transition: opacity 600ms ease;
  transition-delay: 2000ms;
}

#tourStyles-fade-3,
#tourStyles-fade-4,
#tourStyles-fade-5 {
  opacity: 1;
  transition: opacity 600ms ease;
  transition-delay: 2100ms;
}

#tourStyles-fade-3 {
  animation: walking-style-1 19s linear infinite;

  #tourStyles-fade-3-animation {
    animation: bobbing 550ms infinite;
  }
}

@keyframes walking-style-1 {
  0% {
    transform: translateX(20%);
  }

  100% {
    transform: translateX(-80%);
  }
}

#tourStyles-fade-4 {
  animation: walking-style-2 31s linear infinite;

  #tourStyles-fade-4-animation {
    animation: bobbing 600ms infinite;
  }
}

@keyframes walking-style-2 {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(70%);
  }
}

#tourStyles-fade-5 {
  animation: walking-style-3 23s linear infinite;

  #tourStyles-fade-5-animation {
    animation: bobbing 400ms infinite;
  }
}

@keyframes walking-style-3 {
  0% {
    transform: translateX(70%);
  }

  100% {
    transform: translateX(-30%);
  }
}

#tourStyles-move {
  opacity: 1;
  transform-origin: center;
  transition:
    transform 1000ms ease-in,
    opacity 600ms ease;
  transition-delay: 600ms, 700ms;
}

.slide.past {
  #tourStyles-fade-1,
  #tourStyles-fade-2,
  #tourStyles-fade-3,
  #tourStyles-fade-4,
  #tourStyles-fade-5 {
    opacity: 0;
    transition-delay: 0ms;
  }

  #tourStyles-move {
    opacity: 0;
    transform: scale(2);
    transition:
      transform 1000ms ease-in,
      opacity 200ms ease;
    transition-delay: 600ms, 1400ms;
  }
}

.slide.future {
  #tourStyles-fade-1,
  #tourStyles-fade-2,
  #tourStyles-fade-3,
  #tourStyles-fade-4,
  #tourStyles-fade-5 {
    opacity: 0;
    transition-delay: 0ms;
  }

  #tourStyles-move {
    opacity: 0;
    transform: scale(0.5);
    transition-delay: 600ms, 1400ms;
  }
}
