.boilerplate {
  z-index: 24;
}

.boilerplate-layer-1 {
  opacity: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-240%, -30%);
  background: #d6b261;
  width: 15cqw;
  height: 30cqw;
  transition: opacity 600ms ease;
  transition-delay: 1200ms;
}

.boilerplate-layer-2 {
  opacity: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-10%, -30%);
  background: #e8ca86;
  width: 45cqw;
  height: 20cqw;
  transition: opacity 600ms ease;
  transition-delay: 1100ms;
}

.boilerplate-layer-3 {
  opacity: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 15%);
  background: #92c16b;
  width: 100cqw;
  height: 25cqw;
  transition:
    transform 800ms ease-in,
    opacity 200ms ease;
  transition-delay: 300ms, 100ms;
}

.slide.past {
  .boilerplate-layer-1 {
    opacity: 0;
    transition-delay: 0ms;
  }

  .boilerplate-layer-2 {
    opacity: 0;
    transition-delay: 100ms;
  }

  .boilerplate-layer-3 {
    opacity: 0;
    transform: translate(-50%, 200%) scale(3);
    transition-delay: 200ms, 500ms;
  }
}

.slide.future {
  .boilerplate-layer-1 {
    opacity: 0;
    transition-delay: 0ms;
  }

  .boilerplate-layer-2 {
    opacity: 0;
    transition-delay: 100ms;
  }

  .boilerplate-layer-3 {
    opacity: 0;
    transform: translate(-50%, -30%) scale(0.4);
    transition-delay: 200ms, 700ms;
  }
}
