.rv-tooltip-container {
  position: relative;

  &.hoverable {
    &:hover,
    &:focus-within {
      .rv-tooltip {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .rv-tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 12cqw;
    background: var(--rv-foreground-color-1);
    border-radius: 1cqw;
    box-sizing: border-box;
    padding: 1cqw;
    top: 115%;
    font-size: 1cqw;
    font-weight: 500;
    right: 0;
    transition:
      opacity 200ms ease,
      visibility 200ms ease;

    &.visible {
      visibility: visible;
      opacity: 1;
    }
  }
}
