.landing {
  z-index: 25;
  --rv-button-background: #fcd2d2;
  --rv-button-foreground: #b50000;
}

.landing-buttons {
  flex: 1;
  box-sizing: border-box;
  padding-top: 35cqw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5cqw;
}

#landing-fade-4 {
  transition:
    transform 800ms ease-out,
    opacity 200ms ease;
  transition-delay: 700ms, 800ms;

  #landing-fade-4-animation {
    animation: scroll-fade-4 310s infinite linear;
    animation-delay: -200s;
  }
}

@keyframes scroll-fade-4 {
  0% {
    transform: translate(-55%, 0);
  }

  100% {
    transform: translate(25%, 0);
  }
}

#landing-fade-3 {
  opacity: 1;
  transition:
    transform 800ms ease-out,
    opacity 200ms ease;
  transition-delay: 700ms, 800ms;

  #landing-fade-3-animation {
    animation: scroll-fade-3 400s infinite linear;
    animation-delay: -120s;
  }
}

@keyframes scroll-fade-3 {
  0% {
    transform: translate(-20%, 0);
  }

  100% {
    transform: translate(60%, 0);
  }
}

#landing-fade-2 {
  opacity: 1;
  transition:
    transform 800ms ease-out,
    opacity 200ms ease;
  transition-delay: 500ms, 600ms;

  #landing-fade-2-animation {
    animation: scroll-fade-2 120s infinite linear;
    animation-delay: -80s;
  }
}

@keyframes scroll-fade-2 {
  0% {
    transform: translate(-50%, 0);
  }

  100% {
    transform: translate(20%, 0);
  }
}

#landing-fade-1 {
  opacity: 1;
  transition:
    transform 800ms ease-out,
    opacity 200ms ease;
  transition-delay: 400ms, 300ms;

  #landing-fade-1-animation {
    animation: scroll-fade-1 210s infinite linear;
    animation-delay: -50s;
  }
}

@keyframes scroll-fade-1 {
  0% {
    transform: translate(-15%, 0);
  }

  100% {
    transform: translate(55%, 0);
  }
}

#landing-move {
  opacity: 1;
  transition:
    transform 800ms ease-out,
    opacity 200ms ease;
  transition-delay: 300ms, 100ms;

  #landing-move-animation {
    animation: float 5s infinite;
    animation-timing-function: ease-in-out;
  }
}

@keyframes float {
  0% {
    transform: translate(0, 1%);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 1%);
  }
}

.slide.past {
  #landing-fade-1 {
    opacity: 0;
    transform: translate(0, -50%);
    transition:
      transform 800ms ease-in,
      opacity 200ms ease;
    transition-delay: 100ms, 600ms;
  }

  #landing-fade-2 {
    opacity: 0;
    transform: translate(0, -50%);
    transition:
      transform 800ms ease-in,
      opacity 200ms ease;
    transition-delay: 0ms, 500ms;
  }

  #landing-fade-3 {
    opacity: 0;
    transform: translate(0, -50%);
    transition:
      transform 800ms ease-in,
      opacity 200ms ease;
    transition-delay: 200ms, 700ms;
  }

  #landing-fade-4 {
    opacity: 0;
    transform: translate(0, -50%);
    transition:
      transform 800ms ease-in,
      opacity 200ms ease;
    transition-delay: 300ms, 800ms;
  }

  #landing-move {
    opacity: 0;
    transform: translate(0, -50%);
    transition:
      transform 800ms ease-in,
      opacity 200ms ease;
    transition-delay: 400ms, 900ms;
  }
}
