.rv-navigation {
  z-index: 30;
  width: 7cqw;
  position: absolute;
  top: 9.2cqw;
  left: 3cqw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rv-navigation-button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  position: relative;
  width: 4cqw;
  margin: 0.3cqw;
  padding: 0;
  opacity: 1;
  min-height: 0;
  z-index: 31;
  border: none;
  flex-basis: 4cqw;
  border-radius: 100px;
  cursor: pointer;
  outline: 0.3cqw solid var(--rv-foreground-color-1);
  outline-offset: 0.3cqw;
  transition:
    transform 300ms ease-out,
    outline 300ms ease-out,
    outline-offset 300ms ease-out,
    flex-basis 600ms ease,
    width 600ms ease,
    margin 300ms ease,
    opacity 300ms ease;

  transition-delay: 0s, 0s, 0s, 400ms, 400ms, 400ms, 400ms, 400ms;

  &:hover {
    transform: scale(1.07);
    outline-offset: -0.1cqw;

    .nav-tooltip {
      visibility: visible;
      opacity: 1;
    }
  }

  &:focus {
    transform: scale(1.07);
    outline-offset: -0.1cqw;

    .nav-tooltip {
      visibility: visible;
      opacity: 1;
    }
  }

  &:active {
    transform: scale(1.04);
    outline-offset: -0.1cqw;
  }

  &.hidden {
    visibility: hidden;
    opacity: 0;
    flex-basis: 0;
    margin: 0;
    width: 0;
  }

  &.tourPages-button {
    background-color: var(--tourPages-background-color);
  }

  &.tourComponents-button {
    background-color: var(--tourComponents-background-color);
  }

  &.tourStyles-button {
    background-color: var(--tourStyles-background-color);
  }

  &.tourStore-button {
    background-color: var(--tourStore-background-color);
  }

  &.tourRequests-button {
    background-color: var(--tourRequests-background-color);
  }

  &.tourShared-button {
    background-color: var(--tourShared-background-color);
  }
}

.nav-divider {
  flex-basis: 2cqw;
  z-index: 30;
  background-color: var(--rv-foreground-color-1);
  width: 0.4cqw;
  transition:
    flex-basis 700ms ease,
    border-radius 200ms ease;
  transition-delay: 0ms, 500ms;
  border-radius: 0;

  &.hidden {
    visibility: hidden;
    opacity: 0;
    flex-basis: 0;
    border-radius: 0 0 20px 20px;
  }
}
.nav-tooltip {
  font-size: 1.2cqw;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 5cqw;
  top: 50%;
  transform: translate(0, -50%);
  font-weight: 600;
  box-shadow: 0.2cqw 0.2cqw 1cqw 0.2cqw rgba(0, 0, 0, 0.05);
  white-space: nowrap;
  color: var(--rv-foreground-color-2);
  background: var(--rv-foreground-color-1);
  border-radius: 5cqw;
  padding: 0.5cqw 1cqw;
  transition:
    opacity 300ms ease,
    visibility 300ms ease;
}
