.rv-file {
  font-size: 1cqw;
  font-weight: 600;
  height: 1.8cqw;
  padding-left: 0.4cqw;
  display: flex;
  align-items: center;
  transition:
    opacity 300ms ease,
    visibility 300ms ease,
    height 300ms ease,
    background-color 300ms ease;

  &.hidden {
    visibility: hidden;
    opacity: 0;
    height: 0 !important;
  }
}
