.rv-file {
  font-size: 0.8cqw;
  font-weight: 600;
  height: 1.5cqw;
  display: flex;
  align-items: center;
  transition: 100ms ease;

  &.hidden {
    visibility: hidden;
    opacity: 0;
    height: 0 !important;
  }

  &.highlighted {
    background: #c1fac1;
  }
}
