.tourShared {
  z-index: 17;
  --rv-foreground-color-2: var(--tourShared-background-color);
}

@keyframes tram-move {
  0% {
    transform: translate(70%, 0);
  }

  100% {
    transform: translate(-70%, 0);
  }
}

#tourShared-fade-1, #tourShared-fade-2 {
  opacity: 1;
  transition: opacity 600ms ease;
  transition-delay: 1900ms;

  #tourShared-fade-2-animation {
    animation: tram-move 15s infinite linear;
    animation-delay: -10s;
}
}

#tourShared-move {
  opacity: 1;
  transform-origin: center;
  transition:
    transform 1000ms ease-out,
    opacity 600ms ease;
  transition-delay: 600ms, 700ms;
}

.slide.past {
  #tourShared-fade-1, #tourShared-fade-2 {
    opacity: 0;
    transition-delay: 0ms;
  }

  #tourShared-move {
    opacity: 0;
    transform: scale(2);
    transition:
    transform 1000ms ease-in,
    opacity 200ms ease;
    transition-delay: 600ms, 1400ms;
  }
}

.slide.future {
  #tourShared-fade-1, #tourShared-fade-2 {
    opacity: 0;
    transition-delay: 0ms;
  }

  #tourShared-move {
    opacity: 0;
    transform: scale(0.5);
    transition-delay: 700ms, 1200ms;
  }
}
