.view-container {
  container: viewport / inline-size;
  position: relative;
  aspect-ratio: 16 / 9;
  background: #646cff;
  overflow: hidden;

  &.landscape {
    width: 100vw;
  }

  &.portrait {
    height: 100vh;
  }
}
