.view-container {
  container: viewport / inline-size;
  position: relative;
  aspect-ratio: 16 / 9;
  overflow: hidden;

  &.portrait {
    width: 100vw;
  }

  &.landscape,
  &.exact {
    height: 100vh;
  }
}
