.screen-0 {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: 1500ms ease-in-out;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &.past {
    width: 1500px;
    height: 1500px;
    transform: translate(-50%, 0%);
  }

  &.future {
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
  }

  &.present {
    opacity: 1;
    width: 900px;
    height: 900px;
    visibility: visible;
  }
}

.screen-1 {
  position: absolute;
  background: green;
  opacity: 0;
  visibility: hidden;
  transition: 1500ms ease-in-out;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &.past {
    width: 800px;
    height: 800px;
    transform: translate(-70%, -50%);
  }

  &.future {
    width: 0;
    height: 0;
    transform: translate(-30%, -50%);
  }

  &.present {
    opacity: 1;
    width: 400px;
    height: 400px;
    visibility: visible;
  }
}

.screen-2 {
  position: absolute;
  background: blue;
  opacity: 0;
  visibility: hidden;
  transition: 1500ms ease-in-out;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &.past {
    width: 800px;
    height: 800px;
    transform: translate(-70%, -50%);
  }

  &.future {
    width: 0;
    height: 0;
    transform: translate(20%, -50%);
  }

  &.present {
    opacity: 1;
    width: 400px;
    height: 400px;
    visibility: visible;
  }
}
