:root {
  font-family: Quicksand, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-transition-duration: 1600ms;

  --rv-foreground-color-1: #fff;
  --rv-foreground-color-2: #737373;
  --rv-highlight-color: rgba(80, 186, 80, 0.2);
}

@font-face {
  font-family: "Pally";
  src: url("assets/fonts/Pally-Variable.woff2") format("woff2");
  font-weight: 100 1000;
}

@font-face {
  font-family: "Quicksand";
  src: url("assets/fonts/Quicksand-Variable.woff2") format("woff2");
  font-weight: 100 1000;
}

body {
  overflow: hidden;
  margin: 0;
  background: #fff;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000;
  }
}

h1 {
  font-family: Pally, sans-serif;
  font-size: 2cqw;
  font-weight: 700;
}
