:root {
  font-family: Quicksand, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-transition-duration: 1600ms;

  --rv-foreground-color-1: #fff;
  --rv-foreground-color-2: #737373;
  --landing-foreground-color: #fcd2d2;
  --landing-background-color: #b50000;
  --explanation-background-color: #5b9fda;
  --boilerplate-background-color: #556c3d;
  --tourPages-background-color: #237feb;
  --tourComponents-background-color: #e39d1d;
  --tourStyles-background-color: #e3672c;
  --tourStore-background-color: #e45252;
  --tourRequests-background-color: #853887;
  --tourShared-background-color: #3c3f8f;
}

@font-face {
  font-family: "Pally";
  src: url("assets/fonts/Pally-Variable.woff2") format("woff2");
  font-weight: 100 1000;
}

@font-face {
  font-family: "Quicksand";
  src: url("assets/fonts/Quicksand-Variable.woff2") format("woff2");
  font-weight: 100 1000;
}

body {
  overflow: hidden;
  margin: 0;
  background: #fff;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000;
  }
}

h1 {
  font-family: Pally, sans-serif;
  font-size: 2cqw;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: Pally, sans-serif;
  font-size: 1.8cqw;
  font-weight: 700;
  text-transform: uppercase;
}

b,
a {
  font-weight: 700;
}
