:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-transition-duration: 1600ms;

  --rv-button-background: #fff;
  --rv-button-foreground: #000;
}

body {
  overflow: hidden;
  margin: 0;
  background: #3bd1ff;
}
