.rv-folder {
  font-size: 0.8cqw;
  display: flex;
  flex-flow: column;
  transition: 100ms ease;

  &.hidden {
    visibility: hidden;
    opacity: 0;
    height: 0 !important;
  }

  &.highlighted {
    background: #c1fac1;
  }

  .folder-name {
    font-weight: 600;
    height: 1.5cqw;
    border: none;
    background: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
    text-align: left;
  }

  .contents {
    transition: 100ms ease;
    margin-left: 1cqw;
    &.closed {
      visibility: hidden;
      opacity: 0;
      height: 0 !important;
    }
  }
}
