.rv-menu {
  position: absolute;
  top: 1.5cqw;
  right: 1.5cqw;
  z-index: 30;
  display: flex;

  .fullscreen-button {
    margin-left: 1cqw;
  }

  .start-button {
    opacity: 1;
    visibility: visible;
    transition:
      opacity 200ms ease,
      visibility 200ms ease;

    &.hidden {
      visibility: hidden;
      opacity: 0;
    }
  }
}
