.rv-return-modal {
  --rv-foreground-color-2: #df7474;
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 40cqw;
  background: var(--rv-foreground-color-2);
  color: var(--rv-foreground-color-1);
  border-radius: 1.5cqw;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  z-index: 50;
  transition:
    top 200ms ease,
    visibility 200ms ease,
    opacity 200ms ease;

  &.open {
    top: 50%;
    opacity: 1;
    visibility: visible;
  }
}

.modal-title {
  box-sizing: border-box;
  width: 100%;
  background: var(--rv-foreground-color-1);
  color: var(--rv-foreground-color-2);
  padding: 1cqw 1.5cqw;
  margin: 0;
}

.modal-message {
  box-sizing: border-box;
  padding: 1.5cqw;
  width: 100%;
  flex: 1;
  font-size: 1.2cqw;
  display: flex;
  flex-flow: column;
  gap: 0.5cqw;
  justify-content: center;
}

.modal-buttons {
  width: 100%;
  box-sizing: border-box;
  padding: 0 1.5cqw;
  flex: 0 0 6cqw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1cqw;
}

.rv-return-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 49;
  visibility: hidden;
  opacity: 0;
  transition: 200ms ease;

  &.open {
    opacity: 1;
    visibility: visible;
  }
}
